.portNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 15px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        &:hover {
          color: #149ddd;
        }

        &.active {
          color: #149ddd;
        }
      }
    }
  }
}
