.counters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding: 5rem 2rem;
  .counter {
    display: flex;
    gap: 1rem;
    align-items: baseline;

    svg {
      color: #149ddd;
      font-size: 3.2rem;
    }
    .content {
      h2 {
        color: #050d18;
        font-size: 3.5rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
      }
      h6 {
        font-size: 15px;
        font-weight: 600;
        color: darken(#a8a9b4, 20%);
        padding-top: 10px;
      }
      p {
        font-size: 15px;
        color: darken(#a8a9b4, 15%);
        line-height: 1.5;
        padding-top: 5px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 3rem;
  }
  @media screen and (max-width: 768px) {
    margin: 0 2rem;
    display: block;
    .counter {
      padding: 2rem 3rem;
      svg {
        font-size: 3rem;
      }
      h2 {
        font-size: 3rem !important;
      }
    }
  }
}
