// .aboutContainer {
//   display: flex;
//   margin: 4rem 0;
//   gap: 20px;
//   padding: 0rem 1.1rem;

//   .imgBox {
//     width: 45%;
//     img {
//       height: 350px;
//     }
//   }
//   .infoContainer {
//     h2 {
//       font-size: 28px;
//       font-weight: 700;
//       margin-bottom: 10px;
//     }
//     .infoText {
//       font-style: italic;
//       padding-top: 10px;
//       font-size: 16px;
//       font-weight: 500;
//     }
//     .info {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//       font-family: 'Roboto', sans-serif;
//       margin-top: 25px;
//       .data {
//         margin-bottom: 35px;
//         display: flex;
//         align-items: center;
//         .title {
//           font-size: 18px;
//           font-weight: 600;
//           padding-right: 15px;
//         }
//         .text {
//           font-size: 18px;
//           font-weight: 400;
//         }
//         svg {
//           color: #149ddd;
//           font-size: 24px;
//         }
//       }
//     }
//     .infoPara {
//       width: 97%;
//       margin-top: 20px;
//       font-size: 17px;
//       font-weight: 500;
//     }
//   }
// }

.aboutContainer {
  display: flex;
  margin: 4rem 0;
  gap: 20px;
  padding: 0rem 1.1rem;

  .imgBox {
    width: 45%;
    img {
      height: 350px;
      // width: 370px;
    }
  }
  .infoContainer {
    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .infoText {
      font-style: italic;
      padding-top: 10px;
      font-size: 16px;
      font-weight: 500;
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      font-family: 'Roboto', sans-serif;
      margin-top: 25px;
      .data {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        .title {
          font-size: 18px;
          font-weight: 600;
          padding-right: 15px;
        }
        .text {
          font-size: 18px;
          font-weight: 400;
        }
        svg {
          color: #149ddd;
          font-size: 24px;
        }
      }
    }
    .infoPara {
      width: 97%;
      margin-top: 20px;
      font-size: 17px;
      font-weight: 500;
    }
  }
}
